body {
	background: white;
}

#cabecalho { 
            background: é uma imagem;
            font-family: Muli;
            color: white;
            font-size: 12px;

 }

 #footer {
 	background-image: url("imagens/rodapefundo.png");
 	font-size: 27px;
 	color: black;
 	social media icones (imagem);
 }

 .icone-menu {
 	width: 50px;
 }

 header {
 	background-image: url("imagens/cabecalho-topo.png");
 }

       .select 
